* {
    margin: 0;
    padding: 0;
}

/* body {
    font-family: "Merriweather", serif;
    font-style: normal;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
} */

section {
    width: 1320px;
    margin: auto;
    margin-bottom: 120px;
    border-radius: 15px;
}

/* Header Section Styles */

.header {
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    border-radius: 15px;
}

.header-container {
    /* background-color: rgba(0, 0, 0, 0.363); */
    background-image: linear-gradient(rgb(0, 0, 0,1), rgba(0,0,0,0));
    text-align: center;
    border-radius: 15px;
    padding: 170px 0px;
}

.header-container p {
    color: white;
    font-family: Merriweather;
    font-size: 30px;
    margin-bottom: 15px;
}

.header-container h1 {
    display: inline-block;
    color: white;
    font-family: Merriweather;
    font-size: 70px;
    width: 630px;
}

/* Offer Section Styles */

.offer{

}

.offer-container{
    text-align: center;
    font-family: inter;
}

.offer-container h1{
    color: #FF0000;
    font-size: 88px;
    margin-bottom: 45px;
}

.offer-container p{
    color: #FF0000;
    font-size: 24px;
    font-weight: medium;
    margin-bottom: 15px;
}

.offer-container h2{
    columns: #070211;
    font-size: 48px;
    margin-bottom: 45px;
}

.offer-container img{

}

/* Midnight Party Section Styles */

.midnight{
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
}

.midnight-container{
    /* background-color: rgba(0, 0, 0, 0.363); */
    background-image: linear-gradient(to right, rgb(0, 0, 0,1), rgba(0,0,0,0));
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.midnight-content{
    margin: 120px 0px;
}

.midnight-content h1{
    color: white;
    font-size: 65px;
    font-family: merriweather;
    width: 640px;
}

.midnight-content p{
    color: white;
    font-size: 18px;
    font-family: inter;
    width: 700px;
    margin: 20px 0px;
}

.midnight-content button{
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: inter;
    padding: 10px 15px;
    border: none;
    outline: none;
}

.year{
    padding-top: 50px;
}

/* Event Section Styles */

.event{
    font-family: inter;
    padding: 100px 0px;
    /* background-color: #FFE9E9; */
    background-image: linear-gradient(#FFE9E9,white);
}

.event-container{
    text-align: center;
}

.event-container p{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

.event-container span{
    color: #FF0000;
}

.event-container button{
    background-color: #FF0000;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    margin: 20px 0px;
}